<div class="commandXmlPanel" [class.active]="active">
    <div class="leftPanel">
        <div class="btnGroup">
            <a href="javascript:void(0)" (click)="createCommandXml()">添加</a>
            <a href="javascript:void(0)" (click)="editCommandXml()">修改</a>
            <a href="javascript:void(0)" (click)="removeCommandXml()">删除</a>
        </div>
        <div class="searchCommand">
            <input type="text" id="key" (keydown)="filterLabel()" />
        </div>
        <div class="list" >
            <ul >
                <li *ngFor="let commandXml of commandXmlList"  [class.active]="commandXml.active" (click)="changeCommandXml(commandXml)">
                    {{getCommandXmlBaseInfo(commandXml).service || getCommandXmlBaseInfo(commandXml).name}}
                    <a href={{commandXml.downloadUrl}} download="{{getCommandXmlBaseInfo(commandXml).service || getCommandXmlBaseInfo(commandXml).name}}.xml" target="_blank" class="download">download</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="rightPanel">
        <div class="prePanel" [class.active]="!editting">
            <pre class="brush: c-sharp;"  id="commandWin" >
            </pre>
        </div>
        <div class="formPanel" [class.active]="editting">
            <div class="textareaPanel">
                <textarea ></textarea>
            </div>
            <div class="btnGroup">
                <a href="javascript:void(0)" (click)="saveCommandXml()" >保存</a>
                <a href="javascript:void(0)" (click)="cancelEditXml()" >取消</a>
            </div>
        </div>
    </div>
</div>
<div id="commandDiv">

</div>