<div class="notificationXmlPanel" [class.active]="active">
    <div class="leftPanel">
        <div class="btnGroup">
            <a href="javascript:void(0)" (click)="createNotificationXml()">添加</a>
            <a href="javascript:void(0)" (click)="editNotificationXml()">修改</a>
            <a href="javascript:void(0)" (click)="removeNotificationXml()">删除</a>
        </div>
        <div class="list" >
            <ul >
                <li *ngFor="let notificationXml of notificationXmlList"  [class.active]="notificationXml.active" (click)="changeNotificationXml(notificationXml)">
                    {{getNotificationXmlBaseInfo(notificationXml).service || getNotificationXmlBaseInfo(notificationXml).name}}
                    <a href={{notificationXml.downloadUrl}} download="{{getNotificationXmlBaseInfo(notificationXml).service || getNotificationXmlBaseInfo(notificationXml).name}}.xml" target="_blank" class="download">download</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="rightPanel">
        <div class="prePanel" [class.active]="!editting">
            <pre [innerHTML]="code" class="brush: c-sharp;">
            </pre>
        </div>
        <div class="formPanel" [class.active]="editting">
            <div class="textareaPanel">
                <textarea ></textarea>
            </div>
            <div class="btnGroup">
                <a href="javascript:void(0)" (click)="saveNotificationXml()" >保存</a>
                <a href="javascript:void(0)" (click)="cancelEditXml()" >取消</a>
            </div>
        </div>
    </div>
</div>